footer {
    height: 59px;
    background: #7A4931;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {    
    &__footerCenter {
        color: #fff;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
    }
}
