.products {
    background: #f7f7f7;
    &__header {
        font-size: 17px;
        line-height: 20px;
        color: #2C1E17;
        text-align: left;
        margin: 0;
        margin-top: 40px;
    }
    &__wrapperImgOpacity {
        position: relative;
        &__opacity {
            // display: none;
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, 0.54);
            top: 0;
        }
        .opacityBlock {
            display: none;
        }
    }
    &__wrapperImg {
        width: 300px;
    }
    img {
        display: flex;
        margin: 0 auto;
        margin-top: 18px;
        cursor: pointer;
    }
    &__price {
        text-align: right;
        font-size: 16px;
        line-height: 19px;        
        color: #949494;
        margin-top: 12px;
    }
    &__wrapperImg {
        margin: 0 auto; 
    }
    
}